body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.section1 {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
