////////////////////////////////////
/// card
.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
  border: 1px solid white;
  cursor: pointer;
}

.card-img-top:hover {
  opacity: 0.9;
  transition: opacity 1s;
}

.card {
  box-shadow: 0, 2rem, 2rem, rgba(0, 0, 0, 0.6);
}

.card-body {
}

.card-body p,
h4 {
  color: black;
}

.card p {
  font-size: 20px;
  line-height: 2rem;
}

.card h4 {
  cursor: pointer;
  font-size: 30px;
}

.card h4:hover {
  font-weight: 800;
}

.blackcardbg {
  background-color: black;
}

////////////////////////////////////
/// dropdown

.dropdown_Menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.dropdown_Menu.active {
  display: flex;
  flex-direction: row;
  visibility: visible;

  opacity: 1;
  padding: 1rem;
  top: calc(100% + 5px);
  width: 100%;
  z-index: 99;
  transition: transform 150ms ease-in-out;
  background-color: black;
  font-size: 20px;
  justify-content: center;
}

.dropdown_Menu.active a {
  color: white;
  padding: 7px;
}

.dropdown_Menu.active a:hover {
  opacity: 0.7;
}

.dropdowntext {
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.dropdowntext:hover {
  border-bottom: 3px solid gray;
}

#dropdownmore {
  font-weight: 600;
  letter-spacing: 5px;
  position: relative;
}

////////////////////////////////////
/// search-btn

.fa-magnifying-glass:hover {
  opacity: 0.7;
  transition: 1s;
}

.search__container {
}

.text_area.show {
  opacity: 1;
  width: 50%;
  position: absolute;
  border: none;
  border-radius: 7px;
  background-color: black;
  padding: 3px;
  line-height: 30px;
  font-size: 20px;
  padding-left: 17px;
  color: white;
  transform: translateX(0px);
  transition: transform 1s linear;
  pointer-events: auto;
  z-index: 9;
}

.fa-magnifying-glass {
  cursor: pointer;
  position: relative;
  margin-left: auto;
}

////////////////////////////////////
/// languages

.lpreference a {
  color: white;
}

.lpreference {
  color: white;
  position: relative;
  margin: 0px 7px 0px 0px;
}

.fa-angle-down {
  margin-left: 5px;
}

.langhide {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transition: transform 300ms ease-in-out;

  transform: translateY(-10px);
}

.langhide.show {
  opacity: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  border-radius: 7px;
  top: calc(100% + 0.25rem);
  padding: 5px;
  line-height: 25px;
  background-color: black;
  pointer-events: auto;
  transform: translateY(10px);
  z-index: 9;
}

.lpreference a:hover {
  opacity: 0.7;
  transition: 0.7s;
}

////////////////////////////////////
/// javascript classes
.opacitiy_0 {
  opacity: 0.5;
}

.opacitiy_1 {
  opacity: 1;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0 !important;
  width: 100%;
  padding: 10px 8% !important;
  z-index: 9;
  background-color: black;
  transition: 500ms ease-in-out;
}

.blackcardbg {
  background-color: black;
}

.blackbg {
  background-color: black;
  transition: background-color 1000ms linear;
}

.whitebg {
  background-color: white;
  transition: background-color 1000ms linear;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-list {
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 20px;

    & a {
      color: white;
    }
  }
}
