////////////////////////////////////
/// header

.header {
  background-color: black;
  color: white;
  width: 100%;
  position: relative;
}

.language {
  display: flex;
  align-items: center;
  padding: 7px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 30px 0px;
}

.logo > img {
  height: 70px;
  position: relative;
  left: 20px;
  margin-top: 15px;
  cursor: pointer;
}

.logo > img:hover {
  opacity: 0.7;
  transition: opacity 0.7s ease;
}

.logo > p {
  padding: 5px;
  font-size: 20px;
}

#moon {
  display: block;
  cursor: pointer;
}

#moon.hide {
  cursor: pointer;
  display: none;
}

#sun:hover {
  color: yellow;
  transition: color 0.7s;
}

#moon:hover {
  color: gray;
  transition: 0.7s;
}

#sun {
  display: none;
  cursor: pointer;
}

#sun.show {
  display: block;
  cursor: pointer;
}
.light {
  padding: 7px;
  margin: 5px;
}

.iconheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

////////////////////////////////////
/// footer
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#footercontainer {
  background-color: black;
  color: white;
  width: 100%;
}

.logo-footer {
  margin: 20px;
  cursor: pointer;
  width: 25%;
}

.logo-footer:hover {
  opacity: 0.7;
  transition: 0.7s;
}

.footer-med {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 8px;
}

.footer-med a {
  color: white;
}

.footer-med a:hover {
  color: red;
}

.fab {
  cursor: pointer;
}

.fa-facebook:hover {
  color: rgb(59, 89, 152);
  transition: 0.7s;
}

.fa-instagram:hover {
  color: rgb(64, 93, 230);
  transition: 0.7s;
}

.fa-twitter:hover {
  color: rgb(29 161 242);
  transition: 0.7s;
}

.fa-youtube:hover {
  color: rgb(255 0 0);
  transition: 0.7s;
}

.footer-copy p {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  opacity: 0.7;
}

.footer-copy {
  height: 3rem;
}

#fspan {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25px;
  font-weight: 600;
}

.iconsoc {
  padding: 3px;
  margin-right: 5px;
  margin-top: 5px;
}
