*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  height: 60rem;
  width: 100rem;
  background-color: hsl(231, 100%, 99%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
  border-radius: 3rem;
  display: flex;
  padding: 2rem;
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.57);
  position: relative;
}

.hidden {
  display: none;
}

#step1BHide {
  opacity: 0;
  pointer-events: none;
}

#step1Btn {
  display: flex;
  justify-content: center;
  margin-left: 15rem;
  margin-top: 7rem;
}

.section__left {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  flex-basis: 30%;
  background-image: url("/multi-step-form/imgs/assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1rem;
}
.section__left-container {
  margin-top: 2.5rem;
  margin-left: 1rem;
}
.section__left--step {
  display: flex;
  text-transform: uppercase;
  position: relative;
  align-items: center;
}
.section__left--step---content_number {
  font-size: 1.4rem;
  color: gray;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: hsl(231, 11%, 63%);
}
.section__left--step---content_desc {
  font-weight: 700;
  font-size: 1.6rem;
}
.section__left--step---number {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  margin: 2rem;
  padding: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__left--step---number_active {
  background-color: hsl(206, 94%, 87%);
  color: black;
  font-size: 1.5rem;
  margin: 2rem;
  padding: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__right {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  width: 70%;
  color: black;
  font-size: 2rem;
  transform: translateX(8rem);
}
.section__right--step5 {
  transform: none;
}
.section__right--activated {
  color: hsl(213, 96%, 18%);
}
.section__right--btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 12rem;
}
.section__right-bNext, .section__right-bBack {
  padding: 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}
.section__right-bNext {
  border-radius: 1rem;
  font-size: 2rem;
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  transition: all 300ms;
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.3);
  width: 12rem;
}
.section__right-bNext:active {
  transform: translateY(-0.5rem);
}
.section__right-bBack {
  border: none;
  font-size: 2.2rem;
  color: hsl(231, 11%, 63%);
  background: none;
  transition: color 300ms;
}
.section__right-bBack:hover {
  color: hsl(213, 96%, 18%);
}
.section__right--title {
  color: hsl(213, 96%, 18%);
  font-size: 4rem;
  margin: 5rem 0 2rem 0;
}
.section__right--desc {
  font-size: 1.8rem;
  color: hsl(231, 11%, 63%);
  margin-bottom: 2rem;
}
.section__right--form {
  margin-top: 3rem;
  width: 110%;
}
.section__right--form---input {
  width: 65%;
  padding: 1.5rem;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 1rem;
  margin: 1rem 0 1.5rem 0;
  font-family: inherit;
  color: hsl(231, 11%, 63%);
  font-weight: 500;
  opacity: 0.7;
  font-size: 1.7rem;
}
.section__right--form---input--unvalid {
  outline: 1px solid red;
}
.section__right--form---input--valid {
  outline: 1px solid green;
}
.section__right--form---title {
  color: hsl(213, 96%, 18%);
  font-size: 1.7rem;
  font-weight: 500;
}
.section__right--options {
  display: flex;
}
.section__right--option {
  height: 15rem;
  width: 14rem;
  border-radius: 1rem;
  border: 1px solid hsl(229, 24%, 87%);
  margin: 0 1.5rem 0 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  cursor: pointer;
}
.section__right--option-discount {
  font-size: 1.5rem;
  color: hsl(213, 96%, 18%);
  margin-top: 1rem;
  font-weight: 500;
  display: none;
}
.section__right--option-discount--show {
  display: inline-block;
}
.section__right--option:hover {
  border: 1px solid hsl(213, 96%, 18%);
}
.section__right--option--check {
  border: 1px solid hsl(213, 96%, 18%);
}
.section__right--option img {
  height: 5rem;
  margin-right: auto;
}
.section__right--option-title {
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}
.section__right--option-price {
  color: hsl(231, 11%, 63%);
  font-size: 1.8rem;
}
.section__right--option--content {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.section__right-month-year-option {
  display: flex;
  margin-top: 3rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  background-color: hsl(229, 24%, 87%);
  font-size: 1.8rem;
  font-weight: 500;
  color: hsl(231, 11%, 63%);
  width: 80%;
}
.section__right-month-year-option p {
  margin: 1rem;
}
.section__right-pick--option {
  width: 70%;
  height: 25%;
  border: 1px solid hsl(231, 11%, 63%);
  margin: 2rem 0;
  border-radius: 1rem;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.section__right-pick--option---checkbox {
  margin-left: 2rem;
}
.section__right-pick--option---title {
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}
.section__right-pick--option---desc {
  color: hsl(231, 11%, 63%);
}
.section__right-pick--option--check {
  background-color: hsl(206, 94%, 87%);
}
.section__right-pick--option p {
  margin: 1rem;
  font-size: 1.7rem;
}
.section__right-pick--option---price {
  color: hsl(243, 100%, 62%);
  font-weight: 500;
}
.section__right-summary {
  width: 80%;
}
.section__right-summary--sec1, .section__right-summary--sec2 {
  background-color: hsl(231, 100%, 99%);
}
.section__right-summary--sec1 {
  border-bottom: 1px solid hsl(231, 11%, 63%);
  padding: 2rem;
}
.section__right-summary--title {
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}
.section__right-summary--change {
  text-decoration: underline;
  display: inline-block;
  color: hsl(231, 11%, 63%);
  cursor: pointer;
}
.section__right-summary--sec2 {
  padding: 2rem;
  font-size: 1.7rem;
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}
.section__right-summary--sec2 p {
  margin-top: 1rem;
}
.section__right-summary--sec3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  color: hsl(231, 11%, 63%);
}
.section__right-summary--sec3---price {
  color: hsl(243, 100%, 62%);
  font-weight: 500;
}

.step5 {
  text-align: center;
  margin-top: 26%;
  width: 80%;
  margin-left: 5rem;
}
.step5__img {
  height: 8rem;
}
.step5__title {
  color: hsl(213, 96%, 18%);
  font-size: 4rem;
  margin: 2rem 0;
}
.step5__desc {
  font-size: 2rem;
  color: hsl(231, 11%, 63%);
}

.unvalid {
  outline: 1px solid red !important;
}

.valid {
  outline: 1px solid green !important;
}/*# sourceMappingURL=main.css.map */