*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

$color-marine-blue: hsl(213, 96%, 18%);
$color-purplish-blue: hsl(243, 100%, 62%);
$color-pastel-blue: hsl(228, 100%, 84%);
$color-light-blue: hsl(206, 94%, 87%);
$color-strawberry-red: hsl(354, 84%, 57%);

$color-cool-gray: hsl(231, 11%, 63%);
$color-light-gray: hsl(229, 24%, 87%);
$color-magnolia: hsl(217, 100%, 97%);
$color-alabaster: hsl(231, 100%, 99%);
$color-white: hsl(0, 0%, 100%);

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-marine-blue;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  height: 60rem;
  width: 100rem;
  background-color: $color-alabaster;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
  border-radius: 3rem;
  display: flex;
  padding: 2rem;
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.57);

  position: relative;
}

.hidden {
  display: none;
}

#step1BHide {
  opacity: 0;
  pointer-events: none;
}

#step1Btn {
  display: flex;
  justify-content: center;
  margin-left: 15rem;
  margin-top: 7rem;
}

.section__left {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  flex-basis: 30%;
  background-image: url("/multi-step-form/imgs/assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1rem;

  &-container {
    margin-top: 2.5rem;
    margin-left: 1rem;
  }

  &--step {
    display: flex;
    text-transform: uppercase;
    position: relative;
    align-items: center;

    &---content {
      &_number {
        font-size: 1.4rem;
        color: gray;
        margin-bottom: 0.5rem;
        font-weight: 500;
        color: $color-cool-gray;
      }

      &_desc {
        font-weight: 700;
        font-size: 1.6rem;
      }
    }

    &---number {
      color: $color-white;
      font-size: 1.5rem;
      margin: 2rem;
      padding: 1.2rem;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &_active {
        background-color: $color-light-blue;
        color: black;
        font-size: 1.5rem;
        margin: 2rem;
        padding: 1.2rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.section__right {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  width: 70%;
  color: black;
  font-size: 2rem;
  transform: translateX(8rem);

  &--activated {
    color: $color-marine-blue;
  }

  &--btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 12rem;
  }

  &-bNext,
  &-bBack {
    padding: 1rem;
    font-family: inherit;
    border: none;
    cursor: pointer;
  }

  &-bNext {
    border-radius: 1rem;
    font-size: 2rem;
    background-color: $color-marine-blue;
    color: $color-white;
    transition: all 300ms;
    box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.3);
    width: 12rem;
    &:active {
      transform: translateY(-0.5rem);
    }
  }

  &-bBack {
    border: none;
    font-size: 2.2rem;
    color: $color-cool-gray;
    background: none;
    transition: color 300ms;
    &:hover {
      color: $color-marine-blue;
    }
  }

  &--title {
    color: $color-marine-blue;
    font-size: 4rem;
    margin: 5rem 0 2rem 0;
  }

  &--desc {
    font-size: 1.8rem;

    color: $color-cool-gray;
    margin-bottom: 2rem;
  }

  &--form {
    margin-top: 3rem;
    width: 110%;
    &---input {
      width: 65%;
      padding: 1.5rem;
      border: 1px solid $color-light-gray;
      border-radius: 1rem;
      margin: 1rem 0 1.5rem 0;
      font-family: inherit;
      color: $color-cool-gray;
      font-weight: 500;
      opacity: 0.7;
      font-size: 1.7rem;
    }

    &---title {
      color: $color-marine-blue;
      font-size: 1.7rem;
      font-weight: 500;
    }
  }

  &--options {
    display: flex;
  }

  &--option {
    height: 17rem;
    width: 15rem;
    border-radius: 1rem;
    border: 1px solid $color-light-gray;
    margin: 0 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      border: 1px solid $color-marine-blue;
    }

    &--check {
      border: 1px solid $color-marine-blue;
    }

    & img {
      height: 5rem;
    }

    &-title {
      color: $color-marine-blue;
      font-weight: 700;
    }

    &-price {
      color: $color-cool-gray;
    }

    &--content {
      margin: 5rem 0 3rem 3rem;
    }
  }

  &-month-year-option {
    display: flex;
    margin-top: 3rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    background-color: $color-light-gray;
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-cool-gray;
    width: 80%;
    & p {
      margin: 1rem;
    }
  }

  &-pick--option {
    width: 70%;
    height: 25%;
    border: 1px solid $color-cool-gray;
    margin: 2rem 0;
    border-radius: 1rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    &---checkbox {
      margin-left: 2rem;
    }

    &---title {
      font-weight: 700;
      color: $color-marine-blue;
    }

    &---desc {
      color: $color-cool-gray;
    }

    &--check {
      background-color: $color-light-blue;
    }

    & p {
      margin: 1rem;
      font-size: 1.7rem;
    }

    &---price {
      color: $color-purplish-blue;
      font-weight: 500;
    }
  }

  &-summary {
    width: 80%;

    &--sec1,
    &--sec2 {
      background-color: $color-alabaster;
    }

    &--sec1 {
      border-bottom: 1px solid $color-cool-gray;
      padding: 2rem;
    }

    &--title {
      color: $color-marine-blue;
      font-weight: 500;
    }
    &--change {
      text-decoration: underline;
      display: inline-block;
      color: $color-cool-gray;
      cursor: pointer;
    }

    &--sec2 {
      padding: 2rem;
      font-size: 1.7rem;
      color: $color-cool-gray;
      font-weight: 500;
      & p {
        margin-top: 1rem;
      }
    }
    &--sec3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
      color: $color-cool-gray;
      &---price {
        color: $color-purplish-blue;
        font-weight: 500;
      }
    }
  }
}
