*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: hsl(218, 28%, 13%);
  color: white;
}

p,
span,
a {
  font-family: "Open Sans", sans-serif !important;
}

title,
link,
h2,
h4 {
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  @media only screen and (max-width: 500px) {
    & p,
    h2,
    h4,
    h3 {
      font-size: 1.5rem !important;
    }
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 1100px) {
    display: flex;
    flex-direction: column;
  }

  height: 5vh;
  padding: 5rem 0 1rem 0;
  background-color: hsl(217, 28%, 15%);
  transition: opacity 300ms;
  &__logo {
    height: 6rem;
    cursor: pointer;
    margin-left: 20rem;

    &:hover {
      opacity: 0.6;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    flex-wrap: wrap;

    list-style-type: none;
    margin-left: auto;
    margin-right: 15rem;

    &-item {
      margin: 4rem;

      & a {
        color: white;
        opacity: 0.7;

        text-decoration: none;

        &:hover {
          text-decoration: underline;
          opacity: 1;
        }
      }
    }
  }
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;

  background-color: hsl(217, 28%, 15%);
  position: relative;
  margin-bottom: 10rem;

  // background-image: url("/images/bg-curvy-desktop.svg");
  // background-repeat: no-repeat;
  // background-position: bottom;

  // background-position-y: 24rem;
  // background-size: contain;

  &__img {
    width: 30vw;
  }

  &__title {
    font-size: 4rem;
    color: white;
    width: 40%;
    margin: 3rem 0;
    font-weight: 700;
    text-align: center;
  }

  &__desc {
    font-size: 2rem;
    color: white;
    width: 35%;
    margin: 0 0 3rem 0;
    text-align: center;
  }

  &__button {
    background-color: hsl(198, 60%, 50%);
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;

    color: white;
    border: none;
    outline: none;
    border-radius: 3rem;
    width: 25rem;
    z-index: 11;
    transition: all 500ms;
    &:hover {
      background-color: hsl(176, 68%, 40%);
    }
  }
}

.section2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin: 10rem 20rem 10rem 20rem;
  color: white;

  &__img {
    width: 8rem;
  }
  &__content {
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:not(:first-child) {
      margin-top: 3rem;
    }
    &--title {
      font-size: 3rem;
      font-weight: 700;

      margin: 3rem 1rem 1rem 1rem;
    }

    &--desc {
      width: 70%;
      font-size: 2rem;
      text-align: center;

      @media only screen and (max-width: 1300px) {
        font-size: 2em;
      }
    }
  }
}

.section3 {
  display: flex;
  margin: 15rem 10rem 7rem 20rem;

  &__img {
    height: 50rem;

    @media only screen and (max-width: 1240px) {
      height: fit-content;
      width: 70%;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 5rem 10rem;
  }

  &__title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    width: 70%;
  }

  &__desc,
  &__desc2 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: normal;
  }

  &__href {
    font-size: 2rem;
    margin-top: 5rem;
    width: max-content;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6;

    &--link {
      color: hsl(176, 68%, 64%);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-svg {
      height: 2.5rem;
      width: 2.5rem;
      margin-left: 1rem;
    }
    &--link:hover {
      color: white;
    }
  }
}

.section4 {
  display: flex;
  margin: 20rem 10rem 20rem 10rem;
  position: relative;

  &__quote {
    position: absolute;
    top: -3.5rem;
    left: 2rem;
    width: 6rem;
    z-index: 1;
  }

  &__content {
    background-color: hsl(219, 30%, 18%);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 3rem;
    margin: 0rem 2rem;
    transition: transform 300ms;

    &:hover {
      transform: translateY(-3rem);
    }

    &--name {
      font-weight: 700;
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
      font-family: "Raleway" !important;
    }

    &--ceo {
      font-weight: normal;
      color: hsl(0, 2%, 82%);
    }

    &--container {
      display: flex;

      margin: 2rem 1rem 1rem 1rem;
      &---flex {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & p {
          margin-left: 1.5rem;
        }
      }
    }

    &--desc {
      font-size: 2rem;
      margin: 0rem 1rem 1rem 1rem;
    }

    &--profile {
      width: 4rem;
      border-radius: 50%;
    }
  }
}

.section5 {
  background-color: hsl(217, 28%, 15%);
  padding: 5rem;
  width: 50%;
  border-radius: 2rem;
  box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.2);
  margin-left: 20%;
  margin-bottom: -25rem;
  position: relative;
  z-index: 9;

  &__error {
    display: none;

    &-active {
      display: inline-block;
    }
  }

  &__container {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__title {
    font-size: 4rem;
    font-weight: normal;
    margin: 2rem;
  }

  &__desc {
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
  }

  &__form-area {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__form {
    width: 55rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    padding: 2rem;

    &-group {
      display: flex;
      flex-direction: column;
      & p {
        text-align: center;
        margin-top: 1rem;
        color: red;
        font-size: 1.6rem;
      }
    }
  }

  &__submit {
    border: none;
    background-color: hsl(198, 60%, 50%);
    padding: 2rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: white;
    border-radius: 5rem;
    cursor: pointer;
    font-weight: 700;
    margin-left: 3rem;
    transition: all 500ms;

    &:hover {
      transform: translateY(-0.5rem);
    }

    &:active {
      transform: translateY(-1rem);
    }
  }
}

.section6 {
  margin-top: 10rem;

  font-size: 2rem;
  background-color: hsl(216, 53%, 9%);

  &__challange {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    & a {
      opacity: 0.6;
      color: white;
      text-decoration: none;
      transition: opacity 300ms;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__footer--container {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5rem;
    margin: 10rem 10rem 0 10rem;
  }
  &__logo {
    height: 7rem;
    margin: 5rem;
    cursor: pointer;
    transform: translateY(20rem);
    margin-left: 15rem;
    &:hover {
      opacity: 0.7;
    }
  }

  &__location--svg {
    height: 3rem;
    margin-right: 3rem;
  }

  &__desc {
    line-height: 1.6;
  }

  &__desc--container {
    font-size: 2rem;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10rem;
  }

  &__contact--area {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    &--svg {
      height: 2rem;
      margin-right: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__email {
    display: flex;
    justify-content: center;
    align-items: center;
    &--svg {
      height: 2rem;
      margin-right: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    &--item a {
      text-decoration: none;
      color: white;
      opacity: 0.7;
      margin: 5rem;
      &:hover {
        opacity: 1;
      }
    }

    &--item {
      margin: 1rem;
    }
  }

  &__social {
    margin-left: 10rem;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .header {
    display: flex;
    flex-direction: column;
    &__logo {
      height: 4rem;
    }
  }

  .section1 {
    & h2 {
      font-size: 3rem;
    }
    & p {
      font-size: 1.7rem;
    }
    &__button {
      width: 20%;
    }
  }

  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h4 {
      font-size: 1.8rem;
    }
  }
}
