@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
@media only screen and (max-width: 1200px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
}

body {
  background: linear-gradient(to right bottom, rgb(58, 19, 19), black);
  background-repeat: no-repeat;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  font-family: "Lexend Giga", sans-serif !important;
}

.section1 {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-right: 30vh;
}
.section1__optionmenu {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}
.section1__optionmenu--title {
  font-size: 1.5rem;
}
.section1 h2 {
  font-size: 5rem;
  margin: 1rem;
  color: white;
}
.section1 span {
  font-size: 1.3rem;
  margin: 1rem;
  color: white;
  text-align: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: linear-gradient(to right bottom, rgb(58, 19, 19), black);
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: inherit;
}
select option {
  color: black;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25em;
  height: 3em;
  line-height: 3;
  background: linear-gradient(to right bottom, rgb(114, 42, 42), black);
  box-shadow: 5px 5px 1rem 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border-radius: 0.25em;
  margin: 1.5rem 2rem 2rem 2rem;
}

.select::after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: black;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

.select:hover::after {
  color: #ff0000;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cark {
  background-color: white;
  width: 30rem;
  height: 30rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 1rem 0px rgba(0, 0, 0, 0.75);
}

.cark-p {
  font-size: 3rem;
  color: black;
  text-transform: uppercase;
}

.kararbtn {
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-family: inherit;
  border-radius: 1.5rem;
  padding: 1.5rem;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
  box-shadow: 5px 5px 1rem 0px rgba(0, 0, 0, 0.75);
  transition: color 500ms;
}
.kararbtn:hover {
  color: rgb(58, 19, 19);
}

#inputArea {
  background-color: white;
  border: 1px solid white;
  font-size: 1.7rem;
  box-shadow: 5px 5px 1rem 0px rgba(0, 0, 0, 0.75);
  border: none;
  outline: none;
  border-radius: 2rem;
  margin: 1rem;
  padding: 1rem;
  font-family: inherit;
  font-weight: 300;
}
#inputArea::-moz-placeholder {
  color: black;
  font-weight: 500;
}
#inputArea:-ms-input-placeholder {
  color: black;
  font-weight: 500;
}
#inputArea::placeholder {
  color: black;
  font-weight: 500;
}

.add_btn {
  margin: 1rem;
  font-size: 3rem;
}

.info_btn {
  font-size: 2.2rem;
  margin: 1rem;
  padding: 1rem;
}

.add_btn,
.info_btn {
  color: white;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  transition: all 500ms;
}
.add_btn:hover,
.info_btn:hover {
  opacity: 0.7;
}

.icon-inner {
  color: black !important;
}

.inplus {
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstWin {
  background-color: rgb(45, 212, 45) !important;
  color: black !important;
}

.lastWin {
  background-color: rgb(255, 0, 0) !important;
}

.optiondiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.optiondiv--value {
  display: flex;
  justify-content: space-between;
}
.optiondiv .optiondiv--value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 1rem 0px rgba(0, 0, 0, 0.75);
  width: 40rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  font-size: 2rem;
  padding: 1rem;
  color: black;
  background-color: white;
  margin: 1rem;
  text-transform: uppercase;
  transition: transform 500ms;
  overflow: hidden;
}

.delBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.div-flex {
  display: flex;
  justify-content: space-between;
}

.option_rule {
  position: relative;
}

.min-option {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  top: 2.3rem;
  left: 4rem;
  font-size: 1.3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: all 1s;
  color: white;
}
.min-option--show {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 500px) {
  .section1 {
    margin: 0;
    padding: 0;
  }
  .section1 h2 {
    text-align: center;
    font-size: 4rem;
    width: 90%;
    margin: 0;
  }
  .inplus {
    flex-direction: column;
  }
  .section2 {
    margin-top: 3rem;
  }
  .kararbtn {
    margin-bottom: 2rem;
  }
}/*# sourceMappingURL=home.css.map */