*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.grid-container {
  display: grid;
  // height: 100vh;
  grid-template-columns: 20vh repeat(3, 1fr) 20vh;
  grid-template-rows: max-content 1fr max-content max-content;
  grid-gap: 3rem;

  @media only screen and (max-width: 50rem) {
    display: flex;
    flex-direction: column;
    padding: 4rem;
  }

  @media only screen and (max-width: 1430px) {
    grid-gap: 0;
  }
}
